

.ClockContainer{
  position: relative;
  width: 70vmin;
}

.ClockContainer:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.Clock {
  background-color: #1e283d;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.Clock-header{
  padding: 20px;
  text-shadow: 2px 5px 2px #000000;
  color: rgb(218, 218, 218);
  display: flex;
  font-weight: bold;
}
.ClockFace{
  position: relative;
  /*top: 50%;*/
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid  #1e2535;
  border-radius: 50%;
  box-shadow:         inset 0 -10px 10px #233152,
                            0 -10px 10px #233152,
                      inset 0 10px 10px #131313,
                            0 10px 10px #1f1f1f;
  background: url(./clockface.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: row;
  content: '';
}
 .Hour {
  width: 10vmin;
  right: 50%;
  height: 2vmin;
  background: #ff7070;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  box-shadow: 0 5px 5px black;
  transition: transform 1s ease-in-out;
 }

 .Minute {
  width: 20vmin;
  right: 50%;
  height: 1.5vmin;
  background: #ff7070;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  box-shadow: 0 5px 5px black;
  transition: transform 1s ease-in-out;
 }

 .Second {
  width: 25vmin;
  right: 50%;
  height: 1vmin;
  background: #d8d8d8;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  box-shadow: 0 5px 5px black;
 }

 .Knob {
  width: 5vmin;
  right: 50%;
  height: 5vmin;
  background: #ffffff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
 }
 
 .ChangeButton{
  width: 100px;
  font-family: 'Lato', sans-serif;
  height: 50px;
  background: #2f3e5f;
  position: relative;
  color: #d8d8d8;
  margin: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px black;
  border-color: transparent;
  border: none;
 }

 .ChangeButton:hover {
   filter: brightness(130%);
 }
 .Buttons{
   display:flex;
   flex-wrap: wrap;
  justify-content: center;
 }
 .ChangeButton:active {
  box-shadow: inset 0 5px 5px black;
 }

 .ChangeButton:focus {
   border: none;
   outline : none ;
 }

 

