

.Clock {
  background-color: #1e283d;
  min-height: 100vh;
  max-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Clock-header{
  padding: 20px;
  text-shadow: 2px 5px 2px #000000;
  color: rgb(218, 218, 218);
  display: flex;
}
.ClockFace{
  position: relative;
  top: 50%;
  width: 500px;
  height: 500px;
  border: 1px solid  #1e2535;
  border-radius: 50%;
  box-shadow:         inset 0 -10px 10px #233152,
                            0 -10px 10px #233152,
                      inset 0 10px 10px #131313,
                            0 10px 10px #1f1f1f;
  margin: 10px;
  background: url(./clockface.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: row;
  content: '';
}
 .Hour {
  width: 100px;
  right: 50%;
  height: 12px;
  background: #5a2828;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(180deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
 }

 .Minute {
  width: 150px;
  right: 50%;
  height: 6px;
  background: #5a2828;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
 }

 .Second {
  width: 200px;
  right: 50%;
  height: 6px;
  background: #d8d8d8;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(45deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
 }

 .Knob {
  width: 30px;
  right: 50%;
  height: 30px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  border-radius: 6px;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
 }
 

