html,
body {
    margin: 0;

    overflow: hidden;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url(images/back.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    color: white;
    background-position-x: center;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    background-color: transparent;
    width: 100%;
    display: flex;
}
.header__navigation__hamburger {
    display: none;
}
.header__navigation {
    display: inline-block;
    display: flex;
    flex-grow: 2;
    align-items: center;
}
nav {
    margin-left: 0px;
    text-align: left;
    font-size: 1rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul > li {
    padding-right: 10px;
    float: left;
    transition: color 0.5s;
    text-transform: uppercase;
}
nav > ul > li {
    padding-left: 10px;
}

li:hover {
    color: rgb(240, 216, 138);
    cursor: pointer;
    text-shadow: 2px 2px 4px #202020;
}
.header__name {
    padding: 10px;
    font-family: "Dosis", sans-serif;
    color: rgb(231, 177, 0);
    font-size: 2em;
    text-shadow: 2px 2px 4px #292929;
    display: inline-block;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
}
.body__titles {
    text-align: center;
    font-size: 3em;
    flex-grow: 2;
}
.body__pretext {
    font-size: 4em;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgb(231, 177, 0);
}

.body__text {
    font-size: 2em;
    width: 100%;
    color: rgb(90, 83, 72);
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    align-self: flex-end;
}

.body__titles__title {
    display: block;
    transition: font-size 0.2s;
}
.body__titles__title:hover {
    color: rgb(231, 177, 0);
    font-size: 1.5em;
}
.body__titles__title::after {
    content: ".";
    color: rgb(223, 90, 50);
}

footer {
    background-image: linear-gradient(rgb(27, 0, 0), rgb(10, 0, 0));
    color: maroon;
    text-align: center;
}
.footer__text {
    padding: 5px;
}

@media screen and (max-width: 510px) {
    .header__navigation__hamburger {
        display: inline-block;
        margin-left: 10px;
    }
    svg {
        fill: white;
    }
    nav {
        width: 100%;
        transform: translate(-120%, 0);
        transition: transform 0.8s ease-out;
        background-color: black;
    }
    svg:hover {
        fill: rgb(221, 212, 134);
    }
    li {
        display: block;

        margin: 3px;
    }
    .header__navigation__navbar--mobile {
        width: 100%;
        transform: translate(0%, 0);
    }
}
